<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% if page.title != nil %}
            <title>{{ page.title }}</title>
        {% else %}
            <title>{{ site.name }}</title>
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ site.description }}">

        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
        <style>
            html * {
               font-family: "Trebuchet MS", Helvetica, sans-serif !important;
            }
            img {
                max-width: 100%;
            }
            .navbar-default {
                background-color: white;
                background-image: none;
            }
        </style>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></sc\
            ript>
        <![endif]-->
    </head>

    <body>

        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">{{ site.name }}</a>
            </div>

          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/joelg236"><img src="/img/github.png" height="20"></a></li>
                <li><a href="http://stackoverflow.com/users/1165996"><img src="/img/stackoverflow.png" height="20"></a></li>
                <li><a href="https://news.ycombinator.com/user?id=joelg236"><img src="/img/hackernews.png" height="20"></a></li>
                <li><a href="http://hubski.com/user?id=joelg236"><img src="/img/hubski.png" height="20"></a></li>
            </ul>
          </div>
        </nav>

        <div class="container">
