<div style="width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(/img/joel.png) no-repeat;
    margin: 0 auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);">
</div>

<h3>Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<h3>About Me</h3>
<p>Software Developer specializing in Computer Vision, Embedded Development and special applications</p>
<p>I live using Python, node, C++, Java</p>
<p>Currently working for Trace & Draganfly developing Computer Vision software for unmanned vehicles</p>

<p style="font-size:24px;"><a style="color:darkslategrey;" href="/resume">Resume</a></p>
<p style="font-size:24px;"><a style="color:darkslategrey;" href="/work">Projects</a></p>

<a href="https://github.com/joelg236">Github</a> /
<a href="http://lnkd.in/bByKq45">LinkedIn</a>
<a href="http://stackoverflow.com/users/1165996">Stack Overflow</a> /
<a href="https://news.ycombinator.com/user?id=joelg236">Hacker News</a> /
<a href="http://www.chiefdelphi.com/forums/member.php?u=59212">Chief Delphi</a> /
