<div style="width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(/img/joel.png) no-repeat;
    margin: 0 auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);">
</div>

<h3>Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<h3>About Me</h3>
<p>Freelancing in front and back end development, scripting, administration and project management.</p>
<p>Experienced in node.js, ruby, CSS, mobile experience, java, python and much more.</p>
<p>Currently working for US FIRST as a Senior Mentor, expanding FIRST robotics in Western Canada.</p>

<p style="text-align:center;font-size:24px;"><a style="color:darkslategrey;" href="/resume">More</a></p>

<h5>Find me on</h5>
    <a href="http://www.reddit.com/user/JoelGallant236/">Reddit</a> /
    <a href="http://hubski.com/user?id=joelg236">Hubski</a> /
    <a href="http://www.chiefdelphi.com/forums/member.php?u=59212">Chief Delphi</a> /
    <a href="https://news.ycombinator.com/user?id=joelg236">Hacker News</a> /
    <a href="https://plus.google.com/u/0/117523690507333492359">Google+</a> /
    <a href="https://www.facebook.com/joelGallant236">Facebook</a> /
    <a href="https://github.com/joelg236">Github</a> /
    <a href="http://stackoverflow.com/users/1165996">Stack Overflow</a> /
    <a href="http://lnkd.in/bByKq45">LinkedIn</a>
