<h3>Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<h3>About Me </h3>
I'm interested in tech, OSS, linux, politics, semantics.
I've programmed since 2011.

<p>Find me on</p>
    <a href="http://www.reddit.com/user/qwertydirty/">Reddit</a> /
    <a href="http://hubski.com/user?id=joelg236">Hubski</a> /
    <a href="http://www.chiefdelphi.com/forums/member.php?u=59212">Chief Delphi</a> /
    <a href="https://news.ycombinator.com/user?id=joelg236">Hacker News</a> /
    <a href="https://plus.google.com/u/0/117523690507333492359">Google+</a> /
    <a href="https://www.facebook.com/joelGallant236">Facebook</a> /
    <a href="https://github.com/joelg236">Github</a> /
    <a href="http://stackoverflow.com/users/1165996">Stack Overflow</a>
